body { background-color: #fff; }
a { text-decoration: none; color: #db4105; }
a:hover { text-decoration: underline; }

#header { background-color: #33332d; }
#header  .logo { height: 7em; line-height: 7em; }
#header .logo h2 { color: #9fb4cc; font-size: 2.5em; font-family: "Trebuchet MS",Arial,Helvetica,sans-serif; font-weight: bold; }
#header .accent { background-color: #db4105; height: 5px; }

.main { }

.content { clear: both; }
.content h1 { color: #cccc9f; font-size: 2em; margin: 1em 0; }
.content h1 a, .content h1 a:visited { color: #cccc9f; }
.content .meta { padding: 2em 2em 2em 0; font-family: Georgia, "Times New Roman", Times,serif; text-align: center; border-top: 2px solid #db4105; }
.content .meta .date { font-size: 5em; }
.content .summary { border-top: 2px solid #9FB4CC; }
.no-border .summary, .no-border .meta { border: none; }
.content p { font-family: Baskerville, Times, Times New Roman, serif; line-height: 1.5em; font-size: 1.9em; }
.content .extras { margin: 0 0 1.5em; text-align: right; }
.content .extras ul { list-style-type: none; }
.content .extras ul li { display: inline; margin-left: 1em; }
.content .tweet { padding-top: 4.5em; }

.side { }
