body { background-color: #fff; }
a { text-decoration: none; color: #db4105; }
a:hover { text-decoration: underline; }

#header { background-color: #33332d; }
#header .logo { height: 7em; line-height: 7em; }
#header .logo h2 { color: #9fb4cc; font-size: 2.5em; font-family: "Trebuchet MS",Arial,Helvetica,sans-serif; font-weight: bold; }
#header .logo h2 a, #header .logo h2 a:visited { color: #9fb4cc; }
#header .accent { background-color: #db4105; height: 5px; }

.main { }

.content { clear: both; }
.content h1 { color: #cccc9f; font-size: 2em; margin: 1em 0; }
.content h1 a, .content h1 a:visited { color: #cccc9f; }
.content .meta { padding: 2em 2em 2em 0; font-family: Georgia, "Times New Roman", Times,serif; text-align: center; border-top: 2px solid #db4105; }
.content .meta .date { font-size: 5em; }
.content .summary { border-top: 2px solid #9FB4CC; }
.no-border .summary, .no-border .meta { border: none; }
.content p { font-family: Baskerville, Times, Times New Roman, serif; line-height: 1.5em; font-size: 1.9em; }
.content .extras { margin: 0 0 1.5em; text-align: right; }
.content .extras ul { list-style-type: none; }
.content .extras ul li { display: inline; margin-left: 1em; }
.content .tweet { padding-top: 4.5em; }

/** PAGINATOR **/
.paginator
{
	padding:.5em .75em; float:left; font:normal 1.2em arial; clear: both;
}
 
.paginator .prev-na,
.paginator .next-na {
	padding:.3em;
	font:bold .875em arial;
}
 
.paginator .prev-na,
.paginator .next-na
{
	border:1px solid #ccc;
	background-color:#f9f9f9;
	color:#aaa;
	font-weight:normal;
}
 
.paginator .prev a, .paginator .prev a:visited,
.paginator .next a, .paginator .next a:visited
{
	border:1px solid #222222;
	background-color:#9FB4CC;
	color:#222222;
	padding:.3em;
	font:bold .875em arial;
}
 
.paginator .prev, .paginator .prev-na
{
	margin-right:.5em;
}
.paginator .next, .paginator .next-na {
	margin-left:.5em;
}
 
.paginator .page a, .paginator .page a:visited, .paginator .curr
{
	padding:.25em;
	font:normal .875em verdana;
	border:1px solid #222222;
	background-color:#9FB4CC;
	margin:0em .25em;	
	color:#222222;
}
 
.paginator .curr
{ 
	background-color:#fff;
	color:#222222;
	border:1px solid #9FB4CC;
	font-weight:bold;
	font-size:1em;
}
 
.paginator .page a:hover,
.paginator .curr a:hover,
.paginator .prev a:hover,
.paginator .next a:hover
{
	color:#fff;
	background-color:#DB4105;
	border:1px solid #234f32;
}

.side { }
