modules = ["web", "bash"]
run = "hugo server"

[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "-c", "hugo server"]

[workflows]
runButton = "Hugo Dev Server"

[[workflows.workflow]]
name = "Hugo Dev Server"
author = 15756945
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "hugo server --bind 0.0.0.0 --port 5000 --liveReloadPort 443 --disableFastRender --buildDrafts --buildFuture"

[[ports]]
localPort = 5000
externalPort = 80
