#!/usr/bin/env ruby

compile '/' do
  filter :haml
  layout 'default'
end

compile '*' do
  ext = item[:extension]
 
  if ext == '.erb'
    filter :erb
  elsif ext == '.haml' || ext.nil?
    filter :haml
  elsif ext == '.md' || ext == '.markdown'
    filter :kramdown
  else
    raise "Filter is not configured for #{item.identifier} in Rules file."
  end

  layout 'article'
  layout 'default'
end

route '*' do
  item.identifier + 'index.html'
end

layout '*', :haml, :format => :html5
