#!/usr/bin/env ruby

#compile '/' do
  #filter :haml
  #layout 'default'
#end

#compile '/css/*/' do
  #filter :sass
#end

#compile '*' do
  #filter 'coderay'
  #filter 'bluecloth'
  #layout 'article'
  #layout 'default'
#end

#route '/css/*/' do
  #item.identifier.chop + '.css'
#end


#route '*' do
  #item.identifier + 'index.html'
#end
