--- 
title: Home
---

%section{:id => "tweet", :class => "container"}
  %aside{:id => "tweet_list"}
  :javascript
    getTwitters('tweet_list', {
      id: 'phillc',
      count: 1,
      enableLinks: true,
      clearContents: true,
      template: '%text% <a href="http://twitter.com/%user_screen_name%/statuses/%id%/">%time%</a>'
    });
      
%section{:class => "container"}
  %h1 Blog Posts
  %ol{:id => "post_list"}
    - sorted_articles.each do |article|
      %li
        %article
          %time
            = article[:created_at].strftime("%d %b %Y")
          %h2
            &raquo;
            = link_to article[:title], article.reps.find { |r| r.name == :default }

