{% extends 'base.html' %}

{% block title %}{{ entry.title }}{% endblock %}

{% block extrahead %}
<link rel="stylesheet" href="{{ MEDIA_URL }}css/code_style.css" type="text/css" media="screen, projection">
{% endblock %}

{% block main %}
<div class="content no-border">
{% include 'blog/_entry_intro.html' %}
{{ entry.full_text_html|safe }}
</div>

<script>
var idcomments_acct = '{{ INTENSE_DEBATE_ACCT }}';
var idcomments_post_id;
var idcomments_post_url;
</script>
<span id="IDCommentsPostTitle" style="display:none"></span>
<script type='text/javascript' src='http://www.intensedebate.com/js/genericCommentWrapperV2.js'></script>

{% endblock %}