--- 
title: Home
---

%section{:id => "posts", :class => "container"}
  %ol{:id => "post_list"}
    %li
      %article 
        = render 'article_header', :article => sorted_articles[0]
        = sorted_articles[0].compiled_content
      = link_to "Comment on this article", sorted_articles[0]
    - sorted_articles[1..-1].each do |article|
      %li
        %article
          = render 'article_header', :article => article

