<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
                      "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
  <title>kapsh.com</title>
    <link rel="stylesheet" href="blueprint/screen.css" type="text/css" media="screen, projection">
	<link rel="stylesheet" href="blueprint/print.css" type="text/css" media="print">
    <!--[if IE]><link rel="stylesheet" href="../../blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
    <link rel="stylesheet" href="style.css" type="text/css" media="screen, projection">

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
    <div id="header">
        <div class="container">
            <div class="logo">
                <h2>kapsh.com</h2>
            </div>
            <div class="accent"></div>
        </div>
    </div>
    <div class="container">
        <div class="main span-16">
            <div class="content">
                <div class="meta span-4">
                    <div class="type"><a href="#">Linking</a></div>
                    <div class="day">10</div>
                    <div>March, 2009</div>
                    <div>10:00pm</div>
                </div>
                <div class="text span-12 last">
                    <h1>Some random title</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur porttitor facilisis quam. Quisque ornare est sodales nunc. Suspendisse non dolor. Suspendisse sapien orci, dapibus nec, accumsan ut, accumsan id, magna. Donec molestie ante ut ligula. Quisque faucibus purus vitae nunc. Pellentesque in nisi quis ipsum semper cursus. Duis vehicula magna ac velit. Sed quis turpis id lacus ullamcorper ultricies. In lacinia eleifend lorem. Mauris ac justo a nisl pellentesque laoreet.</p>
                    <div class="extras">
                        <a href="#">Continue Reading &raquo;</a> <a href="#">Comment &raquo;</a>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="meta span-4">
                <div class="type"><a href="#">Blogging</a></div>
                    <div class="day">10</div>
                    <div>March, 2009</div>
                    <div>10:00pm</div>
                </div>
                <div class="text span-12 last">
                    <h1>Some random title</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur porttitor facilisis quam. Quisque ornare est sodales nunc. Suspendisse non dolor. Suspendisse sapien orci, dapibus nec, accumsan ut, accumsan id, magna. Donec molestie ante ut ligula. Quisque faucibus purus vitae nunc.</p>
                    <p>Pellentesque in nisi quis ipsum semper cursus. Duis vehicula magna ac velit. Sed quis turpis id lacus ullamcorper ultricies. In lacinia eleifend lorem. Mauris ac justo a nisl pellentesque laoreet.</p>
                    <div class="extras">
                        <a href="#">Continue Reading &raquo;</a> <a href="#">Comment &raquo;</a>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="meta span-4">
                    <div class="type"><a href="#">Tweeting</a></div>
                    <div class="day">10</div>
                    <div>March, 2009</div>
                    <div>10:00pm</div>
                </div>
                <div class="text span-12 last">
                    <h1>Some random title</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur porttitor facilisis quam. Quisque ornare est sodales nunc. Suspendisse non dolor. Suspendisse sapien orci, dapibus nec, accumsan ut, accumsan id, magna. Donec molestie ante ut ligula. Quisque faucibus purus vitae nunc. Pellentesque in nisi quis ipsum semper cursus. Duis vehicula magna ac velit. Sed quis turpis id lacus ullamcorper ultricies. In lacinia eleifend lorem. Mauris ac justo a nisl pellentesque laoreet.</p>
                    <div class="extras">
                        <a href="#">Continue Reading &raquo;</a> <a href="#">Comment &raquo;</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="side span-8 last">
            <p>asdf</p>
        </div>
    </div>
</body>
</html>