<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
                      "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
  <title>{% block title %}kapsh.com{% endblock %}</title>
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/blueprint/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/blueprint/print.css" type="text/css" media="print">
    <!--[if IE]><link rel="stylesheet" href="{{ MEDIA_URL }}css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/style.css" type="text/css" media="screen, projection">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
    <div id="header">
        <div class="container">
            <div class="logo">
                <h2>kapsh.com</h2>
            </div>
            <div class="accent"></div>
        </div>
    </div>
    <div class="container">
        <div class="main span-18">
		{% block main %}{% endblock %}
		<br class="clear">
        </div>
        <div class="side span-6 last">
            <p>search</p>
	    linking blogging observing
        </div>
    </div>
</body>
</html>