{% extends 'base.html' %}

{% block title %}{{ month|date:"F" }}{% endblock %}

{% block content %}
{% load comment_utils %}
{% for entry in entry_list %}
{% get_public_free_comment_count for blog.entry entry.id as comment_count %}
<div class="entry">
    <h4><a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a></h4>
    <ul class="entry_info">
        <li class="date">Posted{% if entry.author %} by <a href="#">{{ entry.author.username }}</a>{% endif %} on {{ entry.publish|date:"d F Y" }}, in "<a href="">{{ entry.section }}</a>"</li>
        <li class="comments"><a href="#">{{ comment_count }} comments</a></li>
    </ul>					
    <p>
        {{ entry.tease|safe}}
    </p>
    <p class="readmore"><a href="{{ entry.get_absolute_url }}">Continue Reading</a></p>
</div>

{% endfor %}

{% endblock %}
