article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary {
  display: block;
}

body {
  background-color: #fff;
  font-size: 75%;
}

a:link {
  color: #DB4105;
}

a:visited {
  color: #DB4105;
}
a:hover {
  color: black;
}

.container {
  width: 650px;
  margin: 0 auto;
}
      
#banner {
  background-color: #33332D;
}
  
#banner h1 {
  font-size: 2.5em;
  line-height: 2.5em;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-weight: bold;
}
  
#banner h1,
#banner h1 a:link,
#banner h1 a:visited,
#banner h1 a:hover {
    color: #9fb4cc;
}
    
#banner .container {
  border-bottom: 5px solid #DB4105;
  position: relative;
}

#banner nav {
  position: absolute;
  right: 0;
  bottom: 0;
}

#banner nav li {
  display: inline;
  float: left;
}
        
#banner nav li a:link, 
#banner nav li a:visited {
  display: inline-block;
  text-decoration: none;
  color: black;
  padding: 1em;
  font-size: 1.25em;
}

#banner nav li a:hover {
  text-decoration: underline;
  color: #999;
}          

section h1 {
  font-size: 2em;
  line-height: 2em;
}

#posts li {
  clear: both;
  font-size: 1.25em;
  line-height: 1.5em;
}

#posts li time {
  float: right;
  font-family: monofur, monaco, courier;
  font-size: 0.75em;
}

#posts li h2 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: inline;
}

#posts li h2 a:link, #posts li h2 a:visited {
  text-decoration: none;
}

article {
  clear: both;
  font-family: Baskerville, Times, "Times New Roman", serif;
  margin-top: 1.5em
}

article h2 {
  font-size: 2em;
  font-weight: normal;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #DB4105;
}

article time {
  font-family: monofur, monaco, courier;
}
article hgroup {
  margin-bottom: 1.5em;
}
    
article p {
  font-family: Baskerville, Times, Times New Roman, serif;
  line-height: 1.25em;
  font-size: 1.5em;
  margin-bottom: 1.5em;
}

article pre {
  line-height: 1;
  font-size: 1.25em;
  margin-bottom: 1.5em;
  border: 1px solid #DB4105;
  background-color: papayaWhip;
  padding: 1.5em;
}

