---
---
%article
  %header 
    %time{:datetime => "2009-10-22", :pubdate => true} October 22, 2009
    %h1
      %a{:href => "/", :rel => "bookmark", :title => "link to this post"} Travel day
  = yield