---
---
!!!
%html{:lang => "en"}
  %head
    %meta{charset="utf-8"}
    %title
      = @item[:title]
    %link{:rel => "stylesheet", :href => "/css/style.css"}
    %link{:rel => "shortcut icon", :href => "/favicon.ico"}

  %body
    %header
      %hgroup
        %h1 Kapsh.com
        %h2 blog of Phillip Campbell
      %nav
        %ul
          %li
            %a{:href => "/"} home
            %a{:href => "/"} blog
            %a{:href => "/"} about
    
    = yield
    
    %footer
      %p
        This is the website of Phillip Campbell
      %p
        This site is built with django
      %p
        Nginx, apache, mod wsgi
      %p
        The source to this website is available on <a href="http://www.github.com/phillc">github.com</a>




    :javascript
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    :javascript
      try {
      var pageTracker = _gat._getTracker("UA-4379922-3");
      pageTracker._trackPageview();
      } catch(err) {}
