---
---
!!!
%html{:lang => "en"}
  %head
    %meta{charset="utf-8"}
    %title
      = @item[:title]
    %link{:rel => "stylesheet", :href => "/css/style.css"}
    %link{:rel => "shortcut icon", :href => "/favicon.ico"}

  %body
    %header
      %hgroup
        %h1 Kapsh.com
        %h2 blog of Phillip Campbell
      %nav
        %ul
          %li
            %a{:href => "/"} home
            %a{:href => "/"} blog
            %a{:href => "/"} about
    = yield
    %article
      %header 
        %time{:datetime => "2009-10-22", :pubdate => true} October 22, 2009
        %h1
          %a{:href => "/", :rel => "bookmark", :title => "link to this post"} Travel day
      %pLorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit felis accumsan turpis pretium tempor. Duis eu turpis nunc, ut euismod nisl. Aliquam erat volutpat. Proin eu eros mollis dui fringilla sodales. Curabitur venenatis tincidunt felis ac congue. Maecenas at odio dui, sit amet congue sapien. Proin placerat feugiat eros, non mollis quam pharetra at. Duis gravida eleifend ligula nec auctor. Fusce nulla diam, fringilla non ultrices in, iaculis eu tellus. Sed mollis consequat turpis sit amet facilisis. Donec pretium luctus aliquet. Curabitur placerat varius purus vel congue. Aliquam erat volutpat. Curabitur vitae eros sed turpis sollicitudin mattis. Morbi venenatis pulvinar nunc, at vulputate massa placerat a. Nam et tortor id nisi consequat tempor eget sit amet risus. Praesent bibendum, velit eu hendrerit porttitor, elit mauris posuere nisl, non pellentesque est leo a quam.

    %footer
      %p
        This is the website of Phillip Campbell
      %p
        This site is built with django
      %p
        Nginx, apache, mod wsgi
      %p
        The source to this website is available on <a href="http://www.github.com/phillc">github.com</a>




    :javascript
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    :javascript
      try {
      var pageTracker = _gat._getTracker("UA-4379922-3");
      pageTracker._trackPageview();
      } catch(err) {}
