@import url("reset.css")

article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary 
  display: block

body
  background-color: FloralWhite
  font-size: 14px

h2
  font-size: 1.571em
h3
  font-size: 1.429em
h4
  font-size: 1.286em
h5
  font-size: 1.143em
h6
  font-size: 1em

.container
  width: 800px
  margin: 0 auto
  
.wrapper
  background-color: #FFF
  border-radius: 10px
  margin-bottom: 2em
  padding: 2em
  
  -moz-border-radius: 10px
  -webkit-border-radius: 10px
  

#banner
  height: 2em
  margin-bottom: 2em
  
  nav
    float: right
    
    ul
      li
        display: inline
        float: left
        
        a:link, a:visited
          display: inline-block

#tweet
  p
    font-family: Georgia, "Times New Roman", Times, serif
    font-style: italic
    font-size: 3em

#post_list
  article
    line-height: 1.75em
    
    time
      float: left
      margin-right: 0.5em
      color: #999
      font-size: 1em
      font-family: "Courier New", monospace
    h2
      font-size: 1em
  