@import url("reset.css")

article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary 
  display: block

body
  background-color: FloralWhite
  font-size: 14px

a:link
  color: DarkBlue
a:visited
  color: #AA00AA
a:hover
  color: black

.container
  width: 800px
  margin: 0 auto
  
.wrapper
  background-color: #FFF
  border-radius: 10px
  margin-bottom: 2em
  padding: 2em
  
  -moz-border-radius: 10px
  -webkit-border-radius: 10px
  
  h1
    letter-spacing: -1.5px
    margin-bottom: 1em
    font-size: 1.5em
    font-weight: bold
    font-family: Georgia, "Times New Roman", Times, serif
    
#banner
  height: 2em
  margin-bottom: 2em
  
  font-family: Gill Sans, Verdana
  text-transform: uppercase
  font-weight: bold

  h1
    color: DarkGoldenRod
    letter-spacing: 4px

  nav
    float: right

    
    ul
      li
        display: inline
        float: left
        margin-left: 3em
        
        a:link, a:visited
          letter-spacing: 2px
          display: inline-block
          text-decoration: none
          color: black
          
        a:hover
          text-decoration: underline
          color: #999

#tweet
  p
    font-family: Georgia, "Times New Roman", Times, serif
    font-style: italic
    font-size: 3em

#post_list
  article
    line-height: 1.75em
    
    time
      float: left
      margin-right: 0.5em
      color: #999
      font-size: 1em
      font-family: "Courier New", monospace
    h2
      font-size: 1em
      font-family: Helvetica,Arial,sans-serif
      font-weight: normal
      
/*Baskerville,Times,Times New Roman,serif*/