@import url("reset.css")



@mixin header
  font-family: Gill Sans, Verdana, sans-serif
  text-transform: uppercase
  font-weight: bold
  letter-spacing: 2px

article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary 
  display: block

body
  background-color: FloralWhite
  font-size: 14px

a:link
  color: DarkBlue
a:visited
  color: #AA00AA
a:hover
  color: black

.container
  width: 700px
  margin: 0 auto 1em auto
  
  h1
    font-size: 1.25em
    line-height: 2em
    
#banner
  height: 2em
  margin-top: 1em
  margin-bottom: 1em
  
  @include header
  
  h1
    float: left
    display: inline
    color: DarkGoldenRod
    letter-spacing: 6px

  nav
    float: right
    
    ul
      li
        display: inline
        float: left
        margin-left: 3em
        
        a:link, a:visited
          display: inline-block
          text-decoration: none
          color: black
          
        a:hover
          text-decoration: underline
          color: #999

#tweet_list
  li
    font-style: italic
    font-size: 1.5em
    line-height: 1.5em

#post_list
  article
    line-height: 1.75em
  
    time
      float: left
      margin-right: 0.5em
      color: DimGray
      font-size: 1em
      font-family: "Courier New", monospace
    h2
      font-size: 1em
      font-family: Helvetica, Arial, sans-serif
      font-weight: normal
      
/*Baskerville,Times,Times New Roman,serif*/