<!DOCTYPE html> 
<html id="home" lang="en"> 
  <head> 
    <meta charset=utf-8 /> 
    <title>{{ page.title }}</title> 
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="/stylesheets/reset.css" type="text/css" />
    <link rel="stylesheet" href="/stylesheets/pygments.css" type="text/css" />
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" />
  </head> 
  <body>      
    <header id="banner">
      <div class="container">
        <h1>phillc.com</h1>
        <nav>
          <ul>
            <li><a href="/">home</a></li>
            <li><a href="#">about</a></li>
          </ul>
        </nav>
      </div>
    </header>
    
    {{ content }}

    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
      var pageTracker = _gat._getTracker("UA-4379922-3");
      pageTracker._trackPageview();
      } catch(err) {}
    </script>
  </body>
</html>
