---
layout: default
---
<section class="container">
  <article>
    <hgroup>
      <h2>{{ page.title }}</h2>
      <time>{{ page.date | date_to_string }}</time>
    </hgroup>
    {{ content }}
  </article>
  <a name="comments"></a> 
  <script> 
  var idcomments_acct = 'b735a3e53cbc6c0c8fa3e407caf051a9';
  var idcomments_post_id;
  var idcomments_post_url;
  </script> 
  <span id="IDCommentsPostTitle" style="display:none"></span> 
  <script type='text/javascript' src='http://www.intensedebate.com/js/genericCommentWrapperV2.js'></script> 

</section>
