{% extends 'base.html' %}

{% block title %}{{ month|date:"F" }}{% endblock %}

{% block content %}

{% for object in object_list %}
<div class="entry">
    <h4><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></h4>
    <ul class="entry_info">
        <li class="date">Posted{% if object.author %} by <a href="#">{{ object.author.username }}</a>{% endif %} on {{ object.publish|date:"j F Y" }}</li>
        <li class="comments"><a href="#">0 comments</a></li>
    </ul>					
    <p>
        {{ object.tease }}
    </p>
</div>

{% endfor %}

{% endblock %}