{% extends 'base.html' %}

{% block title %}{{ month|date:"F" }}{% endblock %}

{% block content %}
{% load comment_utils %}
{% for object in object_list %}
{% get_public_free_comment_count for blog.entry object.id as comment_count %}
<div class="entry">
    <h4><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></h4>
    <ul class="entry_info">
        <li class="date">Posted{% if object.author %} by <a href="#">{{ object.author.username }}</a>{% endif %} on {{ object.publish|date:"d F Y" }}, in "<a href="">{{ object.section }}</a>"</li>
        <li class="comments"><a href="#">{{ comment_count }} comments</a></li>
    </ul>					
    <p>
        {{ object.tease|safe }}
    </p>
    <p class="readmore"><a href="{{ object.get_absolute_url }}">Continue Reading</a></p>
</div>

{% endfor %}

{% endblock %}